

body{
    background-color:white;
}

.container1 {
    display: grid;
    grid-template-columns: 1fr 50px;
    margin-top: 50px;
}
.miniDiv{
    position: relative;
    text-align: right;
}
.shop {
    width: 70px;
    height: 40px;
}

.quantité {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    border-radius: 50%;
    border: none;
    color: white;
    top : -5px;
    left: 8O%;
    padding: 3px 10px;
    position:absolute;

}

h2 {
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
}



.container2 {
    box-shadow: 2cm;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "u d t"
        "qu c s"
    ; */
    margin-top: 50px;
    column-gap: 20px;
    row-gap: 20px;
}
.container2 .cadre{
      text-align: center;
      background-color: bisque;
      padding: 20px;
      box-shadow: 10px 5px 5px gray;


}
 .container2 .cadre img{
    width: 90%;
    height: 400px;
 }
 .container2 .cadre button {
    background-color: black;
    color: white;
    padding: 10px;
    width: 100px;
    
 } 


.container3 {
    top: 0;
    position: fixed;
    width: 500px;
    height: 100vh;
    transition: 0.5s;
    background-color: rgb(219, 203, 203);
    left: 100%;
}
.actif .con3 {
    left: calc(100% - 500px);

}



.con3 .btns {
    display: grid;
    bottom: 0;
    width: 100%;
    position: absolute;
    grid-template-columns: repeat(2,1fr);
}

.btns {
    width: 200px;
    border: solid black 2px;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

.closeShopping {
    background-color: plum;
    color: darkmagenta;
    
}

.total {
    background-color: black;
    color: white;
}

.closeShopping:hover {
    background-color: darkmagenta;
    color: plum;
}

.total:hover {
    background-color: darkmagenta;
    color: black;
}
