body{
    background-color: #7e7b76;
}
.first{
    margin-left: 450px;
    margin-top: 80px;
}
.first .liStyle {
    width: 400px;
    height: 25px;
    border: black solid 3px;
    border-radius: 30px;
    background-color:rgb(156, 150, 150) ;
    color: black;
    font-weight: bold;
    text-align: center;
}
.first .modif {
    width: 50px;
    height:25px ;
    border: black solid 3px;
    border-radius: 30px;
    background-color:rgb(156, 150, 150) ;
    color: black;
    font-weight: bold;
    text-align: center;
}
.first .modif:hover{
    background-color: black;
    color: white;
}
.delete{
    display: none;
}
