body{
    background-color: #7e7b76;
}
.first{
    margin-left: 500px;
    margin-top: 80px;
}
#enteruser{
    width: 400px;
    height: 25px;
    border: black solid 3px;
    border-radius: 30px;
    background-color:rgb(156, 150, 150) ;
    color: black;
    font-weight: bold;
    text-align: center;
}
 .liStyle {
    display: flex;
    justify-content: space-between;
    width: 400px;
    height: 25px;
    border: black solid 3px;
    border-radius: 30px;
    background-color:rgb(156, 150, 150) ;
    color: black;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}
 .modif {
    width: 50px;
    height:25px ;
    border: black solid 3px;
    border-radius: 30px;
    background-color:rgb(156, 150, 150) ;
    color: black;
    font-weight: bold;
    text-align: center;
}
.deleteStyle{
    margin-left: 420px;
    /* position: relative;
    bottom: 200px;  */
}

 .modif:hover{
    background-color: black;
    color: white;
}
.delete{
    display: none;
}
